<h3 class='about'>Final <a href="https://github.com/shivamd/CrowdCode">project</a> by <a href="http://www.devbootcamp.com">DevbootCamp</a> graduates. <br> Created By</h3>

<ul class="team">
	
	<li>
	<div class="people">
	  <%= image_tag("matthew.png") %>
	    <div class="info">
	   		<a class="github" target="_blank" href="http://www.github.com/shivamd"><%= image_tag("icon-octocat.png")%></a>
	   		<a class="mail" href="mailto:matthewhaguemh@gmail.com?Subject=Hello%20again"><i class="ss-icon">mail</i></a>
		 </div>
	</div>	
	<strong>Matthew Hague</strong>
	 <span>Developer<br>TDD Prodigy<br>Resident Statistician</span>
	</li>

	<li>
		<div class="people">
		  <%= image_tag("shivam.png") %>
		    <div class="info">
	   		<a class="github" target="_blank" href="http://www.github.com/shivamd"><%= image_tag("icon-octocat.png")%></a>
	   		<a class="mail" href="mailto:daryananis@gmail.com?Subject=Hello%20again"><i class="ss-icon">mail</i></a>
		 </div>
		</div>
		<strong>Shivam Daryanani</strong>
		<span>Founder<br>Developer<br>Monk</span>
	</li>

	<li>
	  <div class="people">
		   <%= image_tag("ryan.png") %>
	   <div class="info">
	   		<a class="github" target="_blank" href="http://www.github.com/shivamd"><%= image_tag("icon-octocat.png")%></a>
	   		<a class="mail" href="mailto:rguerrettaz@yahoo.com?Subject=Hello%20again"><i class="ss-icon">mail</i></a>
		 </div>
	  </div>
	  <strong>Ryan Guerrettaz</strong>
	  <div class="ryan">Product Manager<br>Developer<br>Overlord Supreme</div>
	</li>
</ul>

