<div class="frontpage-search visible-desktop">
  <%= search_form_for @search do |f| %>
    <%= f.text_field :title_cont, placeholder: "Search" %>
  <% end %>
</div>

<% unless current_user %>
	<div class="hero-unit main visible-desktop">
	  <h3>Coding Tutorials</h3>
	  	<p>From all over the web, in one place.</p>
	  	<div class="get-started"><%= link_to "Get Started Now", new_user_registration_path, class: "btn btn-success btn-large"  %></div>
	</div>
<% end %>

<div class="tutorials">
  <%= render 'static_pages/tutorials', tutorials: @tutorials %>
</div>

<%= will_paginate @tutorials %>
<div class="easter-egg">
  <%= link_to image_tag("/egg.jpeg"), "/about" %>
</div>
