<div class="frontpage-search">
  <%= search_form_for @search do |f| %>
    <%= f.text_field :title_cont, placeholder: "Search" %>
  <% end %>
</div>
<div class="hero-unit">
  <h3>Crowdcode: Coding Tutorials Done Right</h3>
  
  <p>Crowdco.de is a central repository for coding tutorials.  If you feel moved to share your knowledge, <%= link_to "sign up",new_user_registration_path %> and start <%= link_to "creating", new_tutorial_path  %> tutorials! You can also post a link to an insightful tutorial or blogpost.</p>
</div>
<div class="tutorials">
  <%= render 'static_pages/tutorials', tutorials: @tutorials %>
</div>
<%= will_paginate @tutorials %>
