<%= form_tag tutorial_links_path, method: :get do %>
<%= render 'shared/search' %>

<p>
  <%= text_field_tag :query, params[:query] %>
  <%= submit_tag "Search", name: nil %>

</p>
<% end %>
<h2>Tutorials</h2>
<ul>
<% @tutorials.each do |tut| %>
	<li>
    <%= link_to tut.title, "http://#{tut.url}" %>
    <%= render 'shared/vote_module', tut: tut %>
  </li>
<% end %>
</ul>
