<h1><%= @tutorial.title %></h1>
<%= render 'shared/tutorial_category_link', tut: @tutorial %>
<%= render 'shared/addthis' %>
<%= render 'shared/vote_module', tut: @tutorial %>
<% if @tutorial.author?(current_user) || current_user.admin? %>
  <%= button_to "Edit tutorial", edit_tutorial_path, method: "get" %>
  <%= button_to "Delete tutorial", tutorial_path, method: "delete" %>
<% end %>
<%= render 'shared/comments_form', comment: @comment %>
<%= render 'shared/comments' %>

