<h1><%= @tutorial.title %></h1>
<% if @tags %>
  <p>Tags: <%= @tags %></p>
<% end %>
<%= button_to "Edit tutorial", edit_tutorial_path, method: "get" %>
<%= button_to "Delete tutorial", tutorial_path, method: "delete" %>

<%= form_for @comment do |f| %>
<%= f.hidden_field :commentable_id %>
<%= f.hidden_field :commentable_type %>
<%= f.hidden_field :username %>
<%= f.hidden_field :user_id %>
<%= f.text_area :content, size: "10x5" %><br>
<%= f.submit "Add comment" %>
<% end %>

