<%= form_for @comment, id: "comment-form", :remote => true do |f| %>
<%= f.hidden_field :commentable_id %>
<%= f.hidden_field :commentable_type %>
<%= f.text_area :content, size: "30x5", placeholder: "Add comment here" %><br>
<%= f.submit "Add comment", class: "btn btn-primary" %>
<% end %>
<a name="comment-form"></a> 
