<div class="tutorial-box">
  <div class="tutorial-content">
    <%= link_to image_tag( tut.category.img, class: "tutorial-img"), tut %>
    <div class="tutorial-text">
      <%= render 'shared/tutorial_category_link', tut: tut %><br>
    <%= link_to tut.title, tut, { class: "tutorial-title" } %>
    
    <div class="meta-info">
      <span class="icon comments"><i class="ss-icon">chat</i><%= tut.comments.count %></span>
      <span class="icon votes"><i class="ss-icon">heart</i><%= tut.vote_count ? tut.vote_count : "0" %>  </span>
    </div>
    <%= render 'shared/addthis' %>
    </div>
  </div>
</div>
