<div class="tutorial-box" id="<%= tut.id %>">
  <div class="tutorial-content">
    <%= link_to image_tag( tut.category.img, class: "tutorial-img"), tut %>
    <div class="tutorial-text">
      <%= render 'shared/tutorial_category_link', tut: tut %><br>
    <%= link_to tut.title, tut, { class: "tutorial-title" } %>
    <%= render 'shared/meta_info', tut: tut %>
    <%= render 'shared/addthis' %>
    </div>
  </div>
</div>
