<div class="tutorial-box" id="<%= tut.id %>">
  <% if tut.url.blank?  %>
    <%= render 'shared/ribbon' %>
  <% end %>
  <div class="tutorial-content">
    <%= link_to image_tag( tut.category.img, class: "tutorial-img"),  generate_url(tut) %>
    <div class="tutorial-text">
      <%= render 'shared/tutorial_category_link', tut: tut %><br>
    <% if tut.url.blank? %>
      <%= link_to tut.title, generate_url(tut) , { class: "tutorial-title" } %>
    <% else %>
      <%= link_to tut.title, generate_url(tut) , { class: "tutorial-title", target: '_blank' } %>
    <% end %>
    <%= render 'shared/meta_info', tut: tut %>
    <%= render 'shared/addthis', tut: tut %>
    </div>
  </div>
</div>
