<h2>Create a tutorial</h2>

<%= form_for @tutorial do |f| %>
  <%= render 'shared/error_messages', object: @tutorial %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :content %>
  <%= f.text_area :content %>
  <small>e.g "ruby ruby-on-rails javascript oauth"</small>
  <%= label_tag :tags %>
  <%= text_field_tag :tag %>
  <%= f.submit "Submit tutorial" %>
<% end %>

