<div class="tutorial-show" id="<%= @tutorial.id %>">
  <div class="tutorial-title">
    <h1><%= @tutorial.title %></h1>
  </div>
  <div class="meta-tut-show">
    <%= render 'shared/meta_info', tut: @tutorial %>
  </div> 
  <div class="date-and-time"> 
    <div class="created-by">
      <p>By: <a href="/<%= @tutorial.user.username %>"><%=  "#{@tutorial.user.username.capitalize}"%></a> on <%= @tutorial.created_at.strftime("%B #{@tutorial.created_at.day.ordinalize}, %Y") %></p>
    </div>
    <% if @tutorial.author?(current_user) || (current_user && current_user.admin?) %>
      <div class="edit-delete">
        <%= link_to "edit", edit_tutorial_path(@tutorial) %>
        <%= link_to "delete", tutorial_path(@tutorial), method: :delete %>
      </div>
    <% end %>
  </div>
  <% if @tutorial.url.present? %>
    <%= link_to @tutorial.url, generate_url(@tutorial) %>
  <% else %>
    <%= @markdown.html_safe  %>
  <% end %>

  <% unless @tags.blank? %>
    <p>Tags: <%= @tags %></p>
  <% end %>

  
  <hr />  
  <div class="comments-container">  
    <%= render 'shared/comments', tutorial: @tutorial %>
    <%= render 'shared/comments_form', comment: @comment %>
  </div>

  <div class="sidebar  visible-desktop">
     <%= render 'shared/addthis_toolbox' %>
  </div>
</div>
