<div class="tutorial-show" id="<%= @tutorial.id %>">
  
  <h1><%= @tutorial.title %></h1>
    
  <%= render 'shared/meta_info', tut: @tutorial %>

  <% if @markdown %>
    <p><%= @markdown.html_safe  %></p>
  <% else %>
    <%= link_to @tutorial.url, generate_url(@tutorial) %>
  <% end %>

  <% unless @tags.blank? %>
    <p>Tags: <%= @tags %></p>
  <% end %>

  <% if @tutorial.author?(current_user) || (current_user && current_user.admin?) %>
    <%= link_to "edit tutorial", edit_tutorial_path(@tutorial) %>
    <%= link_to "delete tutoiral", tutorial_path(@tutorial), method: :delete %>
  <% end %>
  <div class="share-this">
    <%= render 'shared/addthis' %>
  </div>
  <div class="comments-container">  
    <%= render 'shared/comments', tutorial: @tutorial %>
    <%= render 'shared/comments_form', comment: @comment %>
  </div>
</div>