<div class="tutorial-show" id="<%= @tutorial.id %>">
  <div class="tutorial-title">
    <h1><%= @tutorial.title %></h1>
  </div>
  <div class="meta-tut-show">
    <%= render 'shared/meta_info', tut: @tutorial %>
  </div> 
  <div class="date-and-time"> 
    <div class="created-by">
      <p>By: <a href="/#{@tutorial.user.username}"><%=  "#{@tutorial.user.username.capitalize}"%></a> on <%= @tutorial.created_at.strftime("%B #{@tutorial.created_at.day.ordinalize}, %Y") %></p>
    </div>
    <% if @tutorial.author?(current_user) || (current_user && current_user.admin?) %>
      <div class="edit-delete">
        <%= link_to "edit", edit_tutorial_path(@tutorial) %>
        <%= link_to "delete", tutorial_path(@tutorial), method: :delete %>
      </div>
    <% end %>
  </div>
  <% if @tutorial.url.present? %>
    <%= link_to @tutorial.url, generate_url(@tutorial) %>
  <% else %>
    <%= @markdown.html_safe  %>
  <% end %>

  <% unless @tags.blank? %>
    <p>Tags: <%= @tags %></p>
  <% end %>

  
  <hr />  
  <div class="comments-container">  
    <%= render 'shared/comments', tutorial: @tutorial %>
    <%= render 'shared/comments_form', comment: @comment %>
  </div>

  <div class="sidebar">
    <div class="addthis_toolbox addthis_floating_style addthis_32x32_style">

    <!-- BEGIN commenting out this for now as it is not really part of the "share" bar 
     <div class="favorite">
      <% if current_user && !@tutorial.bookmarked_by?(current_user) %>
      <span class="icon star"><i class="ss-icon">star</i></span>
    <% elsif current_user %>
        <span class="icon star-yellow"><i class="ss-icon">star</i></span>
      <% else %>
      <% end %>
    </div>
    END -->
    <a class="addthis_button_twitter"></a>
    <a class="addthis_button_facebook"></a>
    <a class="addthis_button_google_plusone_share"></a>
    <a class="addthis_button_stumbleupon"></a>
    <a class="addthis_button_reddit"></a>
    <a class="addthis_button_email"></a>
    </div>
  </div>
</div>
