<div class="tags-index">
<h1> Find tutorials by tag name</h1>
<div class="search-form">
<%= search_form_for @search, remote: true do |f| %>
<%= f.text_field :content_cont, :placeholder => "Search by tag" %>
<%= f.submit "Search", :class => "btn" %>
<% end %>
</div>
<table class="tags-table">
  <tr>
  <% @tags.each do |tag| %>
  
  <td class="tag-cell" rowspan="4"><%= link_to tag.content, tag, :class => 'tag-link'%> x<%= tag.taggings.count %></td>
  
  <% end %>
  </tr>
</table>
</div>
