<div class="session">
	<h2>Sign in</h2>

	<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
	  <div><%= f.label :email %><br />
	  <%= f.email_field :email, :autofocus => true %></div>

	  <div><%= f.label :password %><br />
	  <%= f.password_field :password %></div>

	  <% if devise_mapping.rememberable? -%>
	    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
	  <% end -%>

	  <div><%= f.submit "Sign in" %></div>
	<% end %>
<%= render "devise/shared/links" %>
	<h1 class="separation">OR</h1>

<div class="github">
	<h2>Sign in with Github</h2>
	 <%= link_to image_tag("octocat.png"), user_omniauth_authorize_path(:github)%>
 </div>
</div>



