<% if voted %>
  <% if current_user.admin? %>
    <div class="upvote">
      <%= vote_button "create", "Upvote", votable_type %>
    </div>
    <div class="downvote">
      <%= vote_button "create", "Downvote", votable_type %>
    </div>
  <% elsif upvote?(votable_type.class.to_s, votable_type.id) %>
  <div class="upvote">
    <%= vote_button("update", "Upvote", votable_type, :put, "disabled") %>
    </div>
    <div class="downvote">
    <%= vote_button("update", "Downvote", votable_type, :put) %>
    </div>
  <% elsif %>
  <div class="upvote">
    <%= vote_button("update", "Upvote", votable_type, :put) %>
    </div>
    <div class="downvote">
    <%= vote_button("update", "Downvote", votable_type, :put, "disabled") %>
    </div>
  <% end %>
<% else %>
 <div class="upvote">
  <%= vote_button "create", "Upvote", votable_type %>
  </div>
  <div class="downvote">
  <%= vote_button "create", "Downvote", votable_type %>
  </div>
<% end %>
