<header class="navbar">
	<div class="navbar-inner">
		<a class="brand" href="/">Crowdcode</a>
		<nav>
			<ul class="nav pull-left">
				<li><%= link_to "Latest", root_path %></li>
				<li id="fat-menu" class="dropdown">
				  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
					  Categories<b class="caret"></b>
					</a>
	        <ul class="dropdown-menu">
		        <% Category.all.each do |category| %>
			        <li><%=link_to category.name, category, class: "dropdown" %></li>
					  <% end %>
				 </ul>
				 <li><%= link_to 'Tags', tags_path %></li>
			 </li>
				<li><%= link_to "Tutorials", tutorials_path %></li>
				<% if current_user  %>
				  <li><%= link_to "New Tutorial", new_tutorial_path %></li>
				 </ul>
				 <ul class="nav pull-right">
				    <li><%= link_to "Log Out", destroy_user_session_path, :method => :delete %></li>
				    <li><%= link_to "Profile", '/profile' %></li>
				   </ul>
				<% else %>
				  </ul>
					<ul class="nav pull-right">
				      <li><%= link_to "Sign up", new_user_registration_path %></li>
				      <li><%= link_to "Log In", new_user_session_path %></li>
				   </ul>
				<% end %>
		</nav>
  </div>
</header>





