<!DOCTYPE html>
<html>
<head>
  <title>Crowdcode</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <!-- CSS for icons -->

  <link href="/webfonts/ss-pika.css" media="all" rel="stylesheet" type="text/css">
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
  <!-- JS for addthis widget -->
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5169ce054b6dae19"></script>
  <!-- JS for ckeditor -->
  <script src="/ckeditor/ckeditor.js"></script>
  <!-- For syntax highlighting in code blocks -->
  <link rel="stylesheet" href="http://yandex.st/highlightjs/7.3/styles/sunburst.min.css">
  <script src="http://yandex.st/highlightjs/7.3/highlight.min.js"></script>

</head>
<body>
  <%= render 'layouts/nav' %>
  <div class="container">
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "alert, alert-#{key}") %>
     <% end %>
    <%= yield %>
  </div>
  <script src="http://d3js.org/d3.v3.min.js"></script>
</body>
</html>
